{% extends 'base.html' %}
{% block func_name %}Oddiy iteratsiya usuli{% endblock %}

{% block body%} 
        <form method="POST" class="row g-3">
        <div class="col-md-6">
            <label class="form-label">Func1(x, y)</label>
            <input type="text" name="func1" class="form-control" placeholder="Masalan: np.cos(x) + y" required>
        </div>

        <div class="col-md-6">
            <label class="form-label">Func2(x, y)</label>
            <input type="text" name="func2" class="form-control" placeholder="Masalan:np.sin(x) - y" required>
        </div>

        <div class="col-md-4">
            <label class="form-label">Boshlang'ich (x0)</label>
            <input placeholder="Masalan:0.4" type="number" step="any" name="start_x" class="form-control" required>
        </div>

        <div class="col-md-4">
            <label class="form-label">Boshlang'ich (y0)</label>
            <input placeholder="Masalan:0.6" type="number" step="any" name="start_y" class="form-control" required>
        </div>

        <div class="col-md-4">
            <label class="form-label">Epsilon (aniqlik)</label>-

            <input placeholder="Masalan:0.001"type="number" step="any" name="Epslon" class="form-control" required>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Hisoblash</button>
        </div>
    </form>

{% endblock %}
    